* {
  --main-font: "fira code";
  --answer-cell-size: clamp(4vh, calc(4.5vw + .1em), 5vw);
  font-family: var(--main-font, monospace);
  box-sizing: border-box;
  background-color: lightgray;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 900px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  text-align: center;
}

body>* {
  justify-content: center;
}

#theAnswer {
  display: grid;
  gap: 5vmin;
  font-size: 3vmin;
  font-weight: 700;
  grid-template-columns: repeat(4, var(--answer-cell-size));
  grid-template-rows: var(--answer-cell-size);
  margin-block-start: 2vmin;
  margin-block-end: 3vmin;
}

#theAnswer>* {
  border: .5vmin solid goldenrod;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#gameBoard {
  background-color: lightgrey;
  padding-inline: 1em;
  display: flex;
  gap: 1em;
  margin-block-end: 1em;
}

#guessCells,
#resultCells {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#guessCells .row,
#resultCells .row {
  display: flex;
  justify-content: center;
}

#resultCells {
  justify-self: flex-start;
}

#resultCells .row {
  display: flex;
  height: 100%;
  align-items: center;
}

#guessCells .row .cell {
  border: .2em solid black;
  padding: .4em;
  border-radius: 50%;
  width: 4vmin;
  height: 4vmin;
  margin-inline: .5em;
}

#resultCells .row .cell {
  border: .1em solid black;
  border-radius: 50%;
  width: 2vmin;
  height: 2vmin;
  margin-inline: .2em;
}

.row .cell {
  display: grid;
  place-content: center;
}

#guessCells .row.active .cell:hover {
  border-color: rgb(176, 1, 176);
  box-shadow: .1em .1em .5vmin 0vmin blue;
}

#buttons {
  gap: 2em;
  font-size: clamp(14px, 2vmin, 50px);
  margin-block-end: 2em;
}

#buttons>* {
  cursor: pointer;
  font-size: calc(var(--base-font-size) * 1.2);
  border: .2em solid black;
  padding: .4em;
}

#buttons>*:hover {
  box-shadow: .3em .3em 0vmin 0vmin blue;
}


#checkGuess[disabled="disabled"]:hover {
  box-shadow: none;
  border-color: grey;
  cursor: not-allowed;
}

p#footer {
  margin-block-start: auto;
  border-block-start: .2vmin solid #e747f1;
  width: 80%;
  margin-inline: auto;
  padding-block-start: 1em;

}

/* for current active guess row */
#guessCells .row.active {
  cursor: pointer;
  user-select: none;
}

/* for all other guess rows */
#guessCells .row:not(.active) {
  cursor: not-allowed;
  user-select: initial;
}