* {
  --main-font: "sf mono";
  font-family: var(--main-font, monospace);
  /* color: white; */
  box-sizing: border-box;
  /* background-color:ghostwhite; */

  --font-size: clamp(2vmin, 14px, 3vmin);
  --answer-cell-size: 10vmin;
  --guess-cell-size: 5vh;

}

body {
  /* background-image: url('https://wallpaperaccess.com/full/5093240.jpg'); */
  /* background-size:cover; */

  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  border: .5vmin solid blue;
}

body>* {
  font-size: var(--font-size);
  /* display: flex;
  flex-direction: column; */

}

#theAnswer {
  /* hide/show the answer */
  /* visibility: hidden; */
  display: grid;
  gap: 5vmin;
  font-size: 4vmin;
  font-weight: 700;
  grid-template-columns: repeat(4, var(--answer-cell-size));
  grid-template-rows: var(--answer-cell-size);
  margin-block-end: 3vmin;
}

#theAnswer>* {
  border: .5vmin solid goldenrod;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#gameCells {

  display: grid;
  grid-template-columns: repeat(4, var(--guess-cell-size));
  grid-template-rows: repeat(10, var(--guess-cell-size));
  gap: 1vmin;
}

#gameCells>* {
  border: .4vmin solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCells>div:hover {
  cursor: pointer;
}

#buttons {
  margin-block-start: 2vmin;
}

#buttons > * {
  cursor: pointer;
}

p {
  margin-block-start: auto;
  border-block-start: .2vmin solid #e747f1;
  width: 80vw;
  text-align: center;
  padding-block-start: 2vmin;
}

/* for current row / current guess */
.active {

}