* {
  --main-font: "sf mono";
  font-family: var(--main-font, monospace);
  box-sizing: border-box;
  background-color: lightgray;
  /* color: white; */

  --font-size: clamp(2vmin, 1rem, 3vmin);
  --answer-cell-size: calc(8vmin + .1em);
  --guess-cell-size: calc(4vmin + .1em);
  color:
}

body {
  /* background-image: url('https://wallpaperaccess.com/full/5093240.jpg'); */
  /* background-size:cover; */

  height: 100vh;
  margin: 0 auto;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;


  border: .5vmin solid blue;
}

body>* {
  font-size: var(--font-size);
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100vw; */
  /* align-items: center; */

}

#theAnswer {
  /* hide/show the answer */
  /* visibility: hidden; */
  display: grid;
  gap: 5vmin;
  font-size: 4vmin;
  font-weight: 700;
  grid-template-columns: repeat(4, var(--answer-cell-size));
  grid-template-rows: var(--answer-cell-size);
  margin-block-end: 3vmin;
}

#theAnswer>* {
  border: .5vmin solid goldenrod;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  /* border: 3px solid purple; */
  /* justify-items: center; */

  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 3vmin; */
}

#gameBoard > * {
  /* border: 3px solid green; */
}

#guessCells {
  display: grid;
  gap: 1vmin;
  grid-template-rows: repeat(11, var(--guess-cell-size));
}

/* each row (each guess) */
#guessCells>.row {
  display: grid;
  grid-template-columns: repeat(4, var(--guess-cell-size));
  gap: 1vmin;
}

/* each specific cell in the guess */
#guessCells>.row>* {
  gap: 1vmin;
  border: .4vmin solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

#resultCells {
  display: grid;
  gap: 1vmin;
  grid-template-rows: repeat(11, calc(var(--guess-cell-size) * 1));
}

/* each row (each result) */
#resultCells>.row {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--guess-cell-size) * 1));
  gap: 1vmin;
}

/* each specific cell in the result */
#resultCells>.row>* {
  gap: 1vmin;
  border: .4vmin solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#buttons {
  margin-block-start: 2vmin;
}

#buttons>* {
  cursor: pointer;
  font-size: calc(var(--font-size) * 1.2);
  border: .2em solid black;
}
#buttons > *:hover {
  box-shadow: .2em .2em 0vmin 0vmin blue;
}

p {
  margin-block-start: auto;
  border-block-start: .2vmin solid #e747f1;
  width: 80vw;
  text-align: center;
  padding-block-start: 2vmin;
}

/* for current row / current guess */
#guessCells .row.active:hover {
  cursor: pointer;
}

#guessCells .row.active {
  /* border: .2vmin solid black; */
}

/* for all other rows (previous or future) */
#guessCells .row:not(.active):hover {
  cursor: not-allowed;
}